.App {
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.datepicker-container {
  position: absolute;
  z-index: 1000;  /* This ensures that the datepicker is on top of other elements */
}


.legend-table tr {
  line-height: 2em !important;
}

.legend-table td div {
  height: 12px !important; 
}

.line-chart {
  height: 100px; /* or whatever height you desire */
}


.chart-container > div {
  display: legacy;
  justify-content: space-between;
  align-items: flex-start;
  width: 45%;
}

.chart-container > div > div {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.blue {
  background-color: blue !important;
  color: white !important;
}

.custom-button {
  background-color: #00B5AD;
  color: white;
}

.custom-button.active {
  background-color: #21BA45;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
